In [1]:
import numpy as np
import pandas as pd
import texttk
from datetime import datetime
import gensim

/usr/local/lib/python2.7/dist-packages/pandas/core/computation/__init__.py:18: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

## Load events data

In [28]:
events = pd.read_csv("../facebook/terminal5nyc.tsv", sep="\t")
events.head()

,start_time,title,url,description
0,2014-03-15T20:00:00-0400,Carnage at Terminal 5,593163697436226,CARNAGE at Terminal 5 on 03/15 18+ More Info...
1,2014-11-11T20:00:00-0500,London Grammar at Terminal 5,1465453707047232,London Grammar at Terminal 5 on 11/11 All Age...
2,2014-10-17T19:00:00-0400,Citizen Cope at Terminal 5 on 10/17,265560376982598,* Clarence Greenwood Recordings 10th Anniversa...
3,2015-11-19T19:00:00-0500,Azealia Banks,1526707847627630,Azealia Banks
4,2013-10-22T19:00:00-0400,Cold War Kids at Terminal 5,641278195885283,COLD WAR KIDS at Terminal 5 on 10/22 Californ...

In [29]:
from datetime import datetime,timedelta
def dt_parse(t):
    ret = datetime.strptime(t[0:16],'%Y-%m-%dT%H:%M')
    #if t[19]=='+':
    #    ret-=timedelta(hours=int(t[19:22]),minutes=int(t[23:]))
    #elif t[19]=='-':
    #    ret+=timedelta(hours=int(t[19:22]),minutes=int(t[23:]))
    return ret

times = []
for t in events['start_time'].values:
    times.append(dt_parse(t))
events['start_time'] = times
events.head()

,start_time,title,url,description
0,2014-03-15 20:00:00,Carnage at Terminal 5,593163697436226,CARNAGE at Terminal 5 on 03/15 18+ More Info...
1,2014-11-11 20:00:00,London Grammar at Terminal 5,1465453707047232,London Grammar at Terminal 5 on 11/11 All Age...
2,2014-10-17 19:00:00,Citizen Cope at Terminal 5 on 10/17,265560376982598,* Clarence Greenwood Recordings 10th Anniversa...
3,2015-11-19 19:00:00,Azealia Banks,1526707847627630,Azealia Banks
4,2013-10-22 19:00:00,Cold War Kids at Terminal 5,641278195885283,COLD WAR KIDS at Terminal 5 on 10/22 Californ...

In [30]:
events['date'] = events['start_time'].dt.strftime("%Y-%m-%d")
events = events[["date","start_time","title","url","description"]]
events.head()

,date,start_time,title,url,description
0,2014-03-15,2014-03-15 20:00:00,Carnage at Terminal 5,593163697436226,CARNAGE at Terminal 5 on 03/15 18+ More Info...
1,2014-11-11,2014-11-11 20:00:00,London Grammar at Terminal 5,1465453707047232,London Grammar at Terminal 5 on 11/11 All Age...
2,2014-10-17,2014-10-17 19:00:00,Citizen Cope at Terminal 5 on 10/17,265560376982598,* Clarence Greenwood Recordings 10th Anniversa...
3,2015-11-19,2015-11-19 19:00:00,Azealia Banks,1526707847627630,Azealia Banks
4,2013-10-22,2013-10-22 19:00:00,Cold War Kids at Terminal 5,641278195885283,COLD WAR KIDS at Terminal 5 on 10/22 Californ...

In [31]:
texts = [unicode(x) for x in events["description"].as_matrix()]
texts = [x if x.lower().strip() != "nan" else u"nan" for x in texts]
print len(texts)

591

In [32]:
texts = [unicode(x)+" . "+unicode(y) for x,y in events[["title","description"]].as_matrix()]
texts = [x if x.lower().strip() != "nan" else u"nan" for x in texts]
print len(texts)

591

In [33]:
tp = texttk.TextPreprocesser(decode_error='strict', strip_accents='unicode', ignore_list=[], \
                            lowercase=True, remove_html=True, join_urls=True, use_bigrams=False, \
                            use_ner=False, stanford_ner_path="<path_here>", use_lemmatizer=True, \
                            max_df=0.95, min_df=2, max_features=None)
texts = tp.preprocess_corpus(texts)
print len(texts)

preprocessing corpus...
corpus size: 591
first pass over the corpus...
	unescape characters
	remove html
	strip accents
	join URLs
	join compound words
	space out punctuation
second pass over the corpus...
	remove punctuation
	convert to lowercase
591

In [34]:
events["description"].as_matrix()[0]

'CARNAGE at Terminal 5 on 03/15  18+  More Info and Tickets: http://tbp.im/1ln1bXy  ---------------------------------------------------------  EVENT DETAILS Who: Carnage When: Sat, March 15, 2014  Doors: 8:00 pm / Show: 9:00 pm Where: Terminal 5, 610 W. 56th @ 11 Ave'

In [35]:
texts[0]

u'carnage at terminal carnage at terminal on more info and tickets http tbp im 1ln1bxy event details who carnage when sat march doors pm show pm where terminal 56th ave'

In [36]:
events["description"].as_matrix()[2]

'* Clarence Greenwood Recordings 10th Anniversary Tour *   CITIZEN COPE at Terminal 5 on 10/17  This event is all ages!  Get More Info: http://bit.ly/1ny2hLw ---------------------------------------------------------  EVENT DETAILS Who: Citizen Cope When: Fri, October 17, 2014  Doors: 7:00 pm / Show: 8:00 pm Where: Terminal 5, 610 W. 56th St. @ 11 Ave'

In [37]:
texts[2]

u'citizen cope at terminal on clarence greenwood recordings 10th anniversary tour citizen cope at terminal on this event is all ages get more info http bit ly 1ny2hlw event details who citizen cope when fri october doors pm show pm where terminal 56th st ave'

In [38]:
events["description"].as_matrix()[4]

'COLD WAR KIDS at Terminal 5 on 10/22  California soul-punk quartet Cold War Kids are coming back to the Big Apple for a night full of energetic melodies and memorable old tunes: http://tbp.im/12DBfvl  Get More Info: http://tbp.im/11ezox0 Tickets: http://tbp.im/12DBfvl ---------------------------------------------------------   EVENT DETAILS Who: Cold War Kids When: Tuesday, October 22nd, Doors @ 7PM, Show @ 8PM Where: Terminal 5, 610 W. 56th St. @ 11 Ave'

In [39]:
texts[4]

u'cold war kids at terminal cold war kids at terminal on california soulpunk quartet cold war kids are coming back to the big apple for night full of energetic melodies and memorable old tunes http tbp im 12dbfvl get more info http tbp im 11ezox0 tickets http tbp im 12dbfvl event details who cold war kids when tuesday october 22nd doors 7pm show 8pm where terminal 56th st ave'

In [40]:
# tokenize texts
from nltk.tokenize import word_tokenize
corpus = [word_tokenize(text) for text in texts]
print len(corpus)
print len(corpus[0])
print corpus[0]

591
30
[u'carnage', u'at', u'terminal', u'carnage', u'at', u'terminal', u'on', u'more', u'info', u'and', u'tickets', u'http', u'tbp', u'im', u'1ln1bxy', u'event', u'details', u'who', u'carnage', u'when', u'sat', u'march', u'doors', u'pm', u'show', u'pm', u'where', u'terminal', u'56th', u'ave']

In [41]:
# apply lemmatizer
from nltk.stem import WordNetLemmatizer
wlem = WordNetLemmatizer()
corpus = [[wlem.lemmatize(word) for word in text] for text in corpus]
print len(corpus)
print len(corpus[0])
print corpus[0]

591
30
[u'carnage', u'at', u'terminal', u'carnage', u'at', u'terminal', u'on', u'more', u'info', u'and', u'ticket', u'http', u'tbp', u'im', u'1ln1bxy', u'event', u'detail', u'who', u'carnage', u'when', u'sat', u'march', u'door', u'pm', u'show', u'pm', u'where', u'terminal', u'56th', u'ave']

In [42]:
# build frequency dictionary of words
import nltk
all_words = []
for text in corpus:
    for word in text:
        all_words.append(word)
        
freq_dist = nltk.FreqDist(all_words)
print len(freq_dist)

3124

In [43]:
# remove words that appear only once
only_once = []
for w, count in freq_dist.iteritems():
    if count == 1:
        only_once.append(w)
#print only_once
print len(only_once)

corpus = [[word for word in text if word not in only_once] for text in corpus]
print len(corpus)
print len(corpus[0])
print corpus[0]

1601
591
29
[u'carnage', u'at', u'terminal', u'carnage', u'at', u'terminal', u'on', u'more', u'info', u'and', u'ticket', u'http', u'tbp', u'im', u'event', u'detail', u'who', u'carnage', u'when', u'sat', u'march', u'door', u'pm', u'show', u'pm', u'where', u'terminal', u'56th', u'ave']

In [44]:
# remove very frequent words
most_common = [w for w,c in freq_dist.most_common(20)]
print(most_common)

corpus = [[word for word in text if word not in most_common] for text in corpus]
print len(corpus)
print len(corpus[0])
print corpus[0]

[u'terminal', u'at', u'the', u'on', u'pm', u'show', u'http', u'ticket', u'door', u'and', u'more', u'event', u'info', u'all', u'detail', u'age', u'get', u'of', u'56th', u'when']
591
10
[u'carnage', u'carnage', u'tbp', u'im', u'who', u'carnage', u'sat', u'march', u'where', u'ave']

In [45]:
# remove stop words
stoplist = ["center", "barclays", "ticket", "information", "brooklyn", "var", "ebvenueid"]
corpus = [[word for word in text if word not in stoplist] for text in corpus]
print len(corpus)
print len(corpus[0])
print corpus[0]

591
10
[u'carnage', u'carnage', u'tbp', u'im', u'who', u'carnage', u'sat', u'march', u'where', u'ave']

In [46]:
preprocessed_texts = []
maxlen = 0
for text in corpus:
    doc = u""
    if len(text) > maxlen:
        maxlen = len(text)
    for word in text:
        doc += word + u" "
    preprocessed_texts.append(doc.strip())

print len(preprocessed_texts)
print "max sequence len:", maxlen

591
max sequence len: 349

In [47]:
unique_words = []
for text in preprocessed_texts:
    for word in text:
        if word not in unique_words:
            unique_words.append(word)
            
print "num unique words:", len(preprocessed_texts)

num unique words: 591

In [48]:
preprocessed_texts[0]

u'carnage carnage tbp im who carnage sat march where ave'

In [49]:
events["description"] = preprocessed_texts

In [50]:
events.head()

,date,start_time,title,url,description
0,2014-03-15,2014-03-15 20:00:00,Carnage at Terminal 5,593163697436226,carnage carnage tbp im who carnage sat march w...
1,2014-11-11,2014-11-11 20:00:00,London Grammar at Terminal 5,1465453707047232,london grammar london grammar bit ly who londo...
2,2014-10-17,2014-10-17 19:00:00,Citizen Cope at Terminal 5 on 10/17,265560376982598,citizen cope clarence greenwood recording 10th...
3,2015-11-19,2015-11-19 19:00:00,Azealia Banks,1526707847627630,azealia bank azealia bank
4,2013-10-22,2013-10-22 19:00:00,Cold War Kids at Terminal 5,641278195885283,cold war kid cold war kid cold war kid are com...

In [51]:
events.to_csv("terminal5_events_preprocessed.tsv", sep="\t")

## Topic model

In [76]:
len(preprocessed_texts)

885

In [20]:
stoplist = ["center", "barclays", "ticket", "information", "brooklyn", "call", 
            "suite", "event", "call", "american", "express", "click"]
texts = [[word for word in document.lower().split() if word not in stoplist] for document in preprocessed_texts]
dictionary = gensim.corpora.Dictionary(texts)
corpus = [dictionary.doc2bow(text) for text in texts]

In [21]:
lda = gensim.models.ldamodel.LdaModel(corpus, id2word=dictionary, num_topics=5, passes=100)

In [22]:
lda.print_topics(10)

[(0,
  u'0.010*"ha" + 0.009*"new" + 0.009*"album" + 0.009*"championship" + 0.008*"basketball" + 0.008*"tour" + 0.008*"one" + 0.008*"first" + 0.007*"world" + 0.007*"group"'),
 (1,
  u'0.020*"circus" + 0.015*"world" + 0.014*"family" + 0.014*"last" + 0.014*"space" + 0.013*"earth" + 0.010*"visit" + 0.008*"show" + 0.008*"journey" + 0.008*"new"'),
 (2,
  u'0.017*"calling" + 0.017*"please" + 0.014*"individual" + 0.013*"make" + 0.013*"emailprotected" + 0.012*"reservation" + 0.011*"today" + 0.011*"dinner" + 0.011*"club" + 0.011*"special"'),
 (3,
  u'0.027*"lirr" + 0.022*"schedule" + 0.020*"train" + 0.018*"service" + 0.013*"app" + 0.012*"scr" + 0.012*"adroll" + 0.010*"document" + 0.010*"check" + 0.010*"time"'),
 (4,
  u'0.021*"game" + 0.010*"v" + 0.010*"calling" + 0.009*"ice" + 0.009*"follow" + 0.009*"disney" + 0.008*"group" + 0.008*"box" + 0.008*"office" + 0.008*"individual"')]

In [72]:
num_topics = 10
lda = gensim.models.ldamodel.LdaModel(corpus, id2word=dictionary, num_topics=num_topics, passes=200)

In [73]:
lda.print_topics(num_topics)

[(0,
  u'0.025*"session" + 0.024*"wwe" + 0.021*"world" + 0.019*"meet" + 0.019*"30pm" + 0.017*"july" + 0.015*"superstar" + 0.014*"summerslam" + 0.012*"august" + 0.012*"varekai"'),
 (1,
  u'0.021*"tour" + 0.018*"album" + 0.013*"show" + 0.011*"ha" + 0.011*"artist" + 0.009*"new" + 0.008*"individual" + 0.007*"special" + 0.007*"concert" + 0.007*"band"'),
 (2,
  u'0.016*"game" + 0.016*"jay" + 0.015*"net" + 0.015*"champion" + 0.009*"day" + 0.009*"home" + 0.009*"matchup" + 0.009*"thunder" + 0.008*"miami" + 0.008*"thursday"'),
 (3,
  u'0.020*"ice" + 0.019*"disney" + 0.019*"follow" + 0.017*"please" + 0.016*"visiting" + 0.016*"box" + 0.016*"office" + 0.015*"com" + 0.015*"group" + 0.014*"calling"'),
 (4,
  u'0.030*"lirr" + 0.027*"schedule" + 0.023*"train" + 0.022*"please" + 0.022*"make" + 0.021*"service" + 0.019*"check" + 0.018*"calling" + 0.017*"emailprotected" + 0.015*"app"'),
 (5,
  u'0.014*"world" + 0.014*"music" + 0.010*"night" + 0.008*"day" + 0.007*"show" + 0.007*"sunday" + 0.006*"take" + 0.006*"festival" + 0.006*"champion" + 0.005*"featuring"'),
 (6,
  u'0.024*"circus" + 0.017*"family" + 0.017*"world" + 0.016*"space" + 0.016*"last" + 0.016*"earth" + 0.010*"corporate" + 0.010*"promotional" + 0.010*"marriott" + 0.010*"rate"'),
 (7,
  u'0.011*"yes" + 0.010*"artist" + 0.010*"act" + 0.010*"fan" + 0.009*"july" + 0.009*"subject" + 0.008*"insect" + 0.008*"show" + 0.006*"arena" + 0.006*"edge"'),
 (8,
  u'0.017*"available" + 0.017*"v" + 0.017*"group" + 0.016*"calling" + 0.014*"game" + 0.013*"championship" + 0.012*"purchase" + 0.012*"basketball" + 0.010*"atlantic" + 0.010*"also"'),
 (9,
  u'0.024*"adroll" + 0.024*"scr" + 0.022*"document" + 0.020*"game" + 0.015*"var" + 0.015*"http" + 0.015*"oldonload" + 0.014*"point" + 0.014*"function" + 0.013*"net"')]

In [74]:
topic_dists = lda[corpus]
topic_dists_dense = []
for dist in topic_dists:
    vec = np.zeros(num_topics)
    for ix, prob in dist:
        vec[ix] = prob
    topic_dists_dense.append(vec)

In [75]:
len(topic_dists_dense)

885

In [76]:
topic_dists_dense[0]

array([ 0.        ,  0.28220087,  0.27845745,  0.        ,  0.10436573,
        0.        ,  0.30496719,  0.        ,  0.        ,  0.        ])

In [77]:
topic_dists_dense[1]

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.93076714,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [78]:
topic_dists_dense[2]

array([ 0.05,  0.05,  0.05,  0.05,  0.05,  0.05,  0.05,  0.05,  0.05,  0.55])

In [79]:
events["topics"] = topic_dists_dense
events.head()

,date,start_time,title,url,description,topics
0,2013-02-22,2013-02-22 19:30:00,Brooklyn Nets vs Houston Rockets,http://www.barclayscenter.com/events/detail/br...,ebvenueid var style provides net season racing...,"[0.0, 0.282200868104, 0.278457452291, 0.0, 0.1..."
1,2015-10-09,2015-10-09 19:30:00,New York Islanders vs. Chicago Blackhawks,http://www.barclayscenter.com/events/detail/ne...,express american restaurant club menu event se...,"[0.0, 0.0, 0.0, 0.0, 0.930767143456, 0.0, 0.0,..."
2,2015-03-20,2015-03-20 19:30:00,Brooklyn Nets vs. Milwaukee Bucks,http://www.barclayscenter.com/events/detail/br...,nan,"[0.0500000000144, 0.050000000005, 0.0500000000..."
3,2013-11-18,2013-11-18 19:30:00,Brooklyn Nets vs. Portland Trail Blazers,http://www.barclayscenter.com/events/detail/br...,nan,"[0.0500000000144, 0.050000000005, 0.0500000000..."
4,2015-04-12,2015-04-12 20:00:00,Stevie Wonder,http://www.barclayscenter.com/events/detail/st...,718bksuite call please suite individual inform...,"[0.0, 0.689674984, 0.0, 0.0, 0.112730857625, 0..."

In [80]:
events.to_csv("barclays_events_preprocessed_topics.tsv", sep="\t")